.next
.yarn
.swc
node_modules
package-lock.json
dump
.history
.env.local
**/*_old.json

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.js.map

# Migration files
**/*.backup
**/*.backup2
**/*.bak
