body {  
  padding-left: 20px;
}

.main_nav {
	background-color: #e7e7e7;
	padding-bottom:0px;
	padding-top:10px;	
}

.booking {
	margin-bottom: 10px;
	padding-bottom: 10px !important;
}

.text_big {
	font-size: 40pt;
}

.text_big small {
	font-size: 12pt;
}

.align_center {
	text-align: center;	
}
.current_booking_content {
}

.navbar-default {
	margin-bottom:0px;
}

.animate-if {
}

.animate-if.ng-enter, .animate-if.ng-leave {
   overflow-y: hidden;
   -webkit-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -moz-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -o-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   position: relative;
   display: block;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
   height: 0px;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {   
   height: 200px;
}

.main_content, .main_content_closed{
  -webkit-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -moz-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -o-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.main_content{
    margin-top: 380px;   
}

.main_content_closed {
	margin-top: 130px;  	
}

.show-fade {
}

.show-fade-hide {
 	transition: 0.5s linear all;
    opacity: 1;
}
.show-fade.ng-hide {
    opacity: 0;
}

.if-fade.ng-enter, .if-fade.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.if-fade.ng-enter,
.if-fade.ng-leave.ng-leave-active {
  opacity:0;
}

.if-fade.ng-leave,
.if-fade.ng-enter.ng-enter-active {
  opacity:1;
}

.table tbody tr.active td {
    background-color: #aec7e8;
}

.navbar-avataradjust {
  	top: -4px;
}

.avatar -big:before {
    vertical-align: middle;
    padding: 0 10px 0 0;
    vertical-align: -40%;    
}

/* dropdown menu stuff */

.dropdown .caret {
	color: @link-color-hover;
}

.dropdown-menu {
  border-top: 1px solid #D4D4D4;
  left: auto;
  top: 27px;
  right: -1px;
}

.dropdown-menu li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-color: @light-border-color;
}

.dropdown-menu li:first-child {
  padding-top: 5px;
}

.dropdown-menu li:last-child {
  border-bottom: 0px;
  padding-bottom: 5px;
}

.dropdown-menu .glyphicon {
  .transform(scale(0.7));
  padding-left: 5px;
}

.dropdown-menu li.disabled * {
  color: #aaa;
}
