body {  
  padding-left: 20px;
}

.main_nav {
	background-color: #e7e7e7;
	padding-bottom:0px;
	padding-top:10px;	
}

.booking {
	margin-bottom: 10px;
	padding-bottom: 10px !important;
}

.text_big {
	font-size: 40pt;
}

.text_big small {
	font-size: 12pt;
}

.align_center {
	text-align: center;	
}
.current_booking_content {
}

.navbar-default {
	margin-bottom:0px;
}

.animate-if {
}

.animate-if.ng-enter, .animate-if.ng-leave {
   overflow-y: hidden;
   -webkit-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -moz-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -o-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   position: relative;
   display: block;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
   top: -200px;
   height: 0px;    
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {   
   top: 0;
   height: 200px;   
}

.main_content, .main_content_closed{
  -webkit-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -moz-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   -o-transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
   transition: 0.5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.main_content{
    margin-top: 360px;   
}

.main_content_closed {
	margin-top: 130px;  	
}

.animate-show-hide {
}

.animate-show-hide {
   -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show-hide.ng-hide {
  opacity:0;
}

.workview-chart {
	position: absolute;	
}
}