<div class="navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Lasius</a>
		</div>
		<div class="navbar-right">
			<las-booking  user-id="'noob'"/>
		</div>
	</div>
</div>
<div class="container">	
	<las-current-time-booking user-id="'noob'"></las-current-time-booking>
	<div class="btn-toolbar" role="toolbar">
	  <div class="btn-group">
	    <button type="button" class="btn btn-default" ng-click="dayMinus()">
	      <span class="glyphicon glyphicon-chevron-left"></span>
	    </button>
	    
	    <span class="title">{{date | amDateFormat:'Do MMM YYYY'}}</span>
	     
	    <button type="button" class="btn btn-default" ng-click="dayPlus()">
	      <span class="glyphicon glyphicon-chevron-right"></span>
	    </button>
	  </div>
	</div>
			
	<div>		
		By Category<br />
		<las-booking-pie-stats date="date" user-id="'noob'" source="'category'"></las-booking-tag-stats>
	</div>
	<div>
		By Project<br />
		<las-booking-pie-stats date="date" user-id="'noob'" source="'project'"></las-booking-tag-stats>
	</div>
	<div>
		By Tag<br />
		<las-booking-pie-stats date="date" user-id="'noob'" source="'tag'"></las-booking-tag-stats>
	</div>
	
	<las-booking-history user-id="'noob'" ></las-booking-history>
</div>
