<div class="navbar navbar-fixed-top main_nav">	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Lasius <span>- {{user.firstName}} {{user.lastName}}</span></a>
					
				</div>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-7">
			  <span class="pull-right">
			 	<las-current-time-booking class="if-fade" ng-if="!currentBookingOn" compact="true" user-id="'noob'"></las-current-time-booking>
			 	<span ng-if="currentBookingOn" class="glyphicon glyphicon-collapse-up" ng-click="showCurrentBooking(false)"></span>
      		 	<span ng-if="!currentBookingOn" class="glyphicon glyphicon-collapse-down" ng-click="showCurrentBooking(true)"></span>
      		  </span>         
			</div>			
		</div>
		<div class="row animate-if" ng-if="currentBookingOn" ng-animate-children>
			<div class="col-md-4">				
				<las-booking  user-id="'noob'"/>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-7">
				<las-current-time-booking compact="false" user-id="'noob'"></las-current-time-booking>							
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
	  		<div class="collapse navbar-collapse">
	      		<ul class="nav navbar-nav">	
	        		<li ng-class="contentType==='workview'?'active':''"><a href="#/" ng-click="selectContentType('workview', true)">Work view</a></li>
	        		<li ng-class="contentType==='bookings'?'active':''"><a href="#/" ng-click="selectContentType('bookings', false)">Time bookings</a></li>
	        		<li ng-class="contentType==='statistics'?'active':''"><a href="#/" ng-click="selectContentType('statistics', false)">Statistics</a></li>
	        	</ul>
	        	<ul class="nav navbar-nav navbar-right">        	
	        		<li><a href="#">Preferences</a></li>
	        		<li ng-if="isLoggedIn"><a ng-click="logout()" href="#">Logout</a></li>
	        		<li ng-if="!isLoggedIn"><a href="/login">Login</a></li>
	        	</ul>
	        </div>
        </div>
  	</nav>
</div>
<div id="content_body" class="container_fluid main_content animate-body">  
	<div class="detail-content if-fade" data-ng-include="contentTypeMapping[contentType]"></div>  
</div>
