<div class="booking-table">
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="dayMinus()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    
    <span class="title">{{date | amDateFormat:'Do MMM YYYY'}}</span>
     
    <button type="button" class="btn btn-default" ng-click="dayPlus()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</div>
<table class="table">
	<tr>
		<th>Project Id</th>
		<th>Tags</th>
		<th>From</th>
		<th>To</th>
		<th>Amount</th>
	</tr>
    <tr ng-repeat="booking in bookings">
        <td>{{booking.projectId}}@{{booking.categoryId}}</td>
        <td>
            <span ng-repeat="tag in booking.tags" >
		        <span style="margin-right: 3px;" class="ui-select-match-item btn btn-default btn-xs" type="button">        
		            <span>{{tag}}</span>        
		        </span>
            </span>
        </td>
        <td>{{booking.start | date: 'HH:mm'}}</td>
        <td>{{booking.end | date: 'HH:mm'}}</td>
        <td>{{diff(booking)| number : 1}}</td>
    </tr>
</table>
</div>