 	<div class="panel">
 	<div class="panel-body">
 	<ui-select ng-model="project.selected"
             theme="bootstrap"
             on-remove="projectSelectionChanged()"
             on-select="projectSelectionChanged()"
             class="booking">
	    <ui-select-match placeholder="Project@Category">{{$select.selected.name}}</ui-select-match>
	    <ui-select-choices repeat="proj in projects  | filter: {name: $select.search}">
	      <div ng-bind-html="proj.name | highlight: $select.search"></div>
	    </ui-select-choices>
  	</ui-select>
	<ui-select multiple ng-model="tags.selected" theme="bootstrap" tagging="newTag" reset-search-input="true"
  	tagging-tokens="," class="booking">
	    <ui-select-match placeholder="Select Tags...">{{$item.id}}</ui-select-match>
	    <ui-select-choices repeat="tag in availableTags | filter:$select.search track by tag.id">
	      {{tag.id}}
	    </ui-select-choices>
	  </ui-select>
	  </div>
	  <div class="panel-footer">	  
     	<button class="btn btn-primary btn-lg btn-block" ng-click="start()">Start</button>
     </div>
     </div>

