<div class="btn-toolbar" role="toolbar">
	<script type="text/ng-template" id="lasDateRangeSelection.html">    
    
	  </script>
	<div class="btn-group" role="group" dropdown>
		<button type="button" class="btn btn-default" ng-click="minus()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>

		<button type="button" 
			class="btn btn-default" 
			ng-if="!range.from.isBefore(range.to, 'day')"
			ng-click="collapse()">
			{{date | amDateFormat:'ll'}}<span class="caret"></span>
		</button>
		<button type="button"
			class="btn btn-default"
			ng-if="range.from.isBefore(range.to, 'day')"
			ng-click="collapse()">
			{{range.from | amDateFormat:'ll'}}-{{range.to | amDateFormat:'ll'}}<span
				class="caret"></span>
		</button>
		<button type="button" class="btn btn-default" ng-click="plus()">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>

	</div>	
</div>
<div class="container-fluid well well-lg" ng-show="isCollapsed">
		<div class="row-fluid">
			<div class="col-md-2">
				<div class="container-fluid">
					<div class="row-fluid">
						<button type="button" class="btn btn-block"
							ng-class="(selection === 'day')?'btn-primary':'btn-default'"
							ng-click="toggleSelection('day')">Day</button>
					</div>
					<div class="row-fluid">
						<button type="button" class="btn btn-block"
							ng-class="(selection === 'month')?'btn-primary':'btn-default'"
							ng-click="toggleSelection('month')">Month</button>
					</div>
					<div class="row-fluid">
						<button type="button" class="btn btn-block"
							ng-class="(selection === 'year')?'btn-primary':'btn-default'"
							ng-click="toggleSelection('year')">Year</button>
					</div>
					<div class="row-fluid">
						<button type="button" class="btn btn-block"
							ng-class="(selection === 'range')?'btn-primary':'btn-default'"
							ng-click="toggleSelection('range')">Date Range</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div ng-if="selection === 'day'" date-picker="dateSelection.date"
					min-view="date"></div>
				<div ng-if="selection === 'month'" date-picker="dateSelection.date"
					min-view="month"></div>
				<div ng-if="selection === 'year'" date-picker="dateSelection.date"
					min-view="year"></div>
				<div ng-if="selection === 'range'" date-range
					start="dateSelection.range.from" end="dateSelection.range.to"></div>
			</div>
		</div>
	</div>