<span class="dropdown navbar-brand navbar-avataradjust" ng-if="isLoggedIn">
    <a href="" class="dropdown-toggle avatar-big">
    		{{user.firstName}} {{user.lastName}}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        <li>
            <a href="" data-ng-click="logout()">
                <span class="glyphicon glyphicon-off"></span> Logout
            </a>
        </li>
    </ul>
  </span>
<ul class="nav navbar-nav pull-right" ng-if="!isLoggedIn">
    <li><a href="/#login">Login</a></li>
</ul>