<div class="alert alert-danger" role="alert" ng-if="message">{{message}}</div>
<form class="form-signin">
		<div class="form-group">
        	<label for="inputEmail" class="sr-only">Email address</label>
        	<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="true" autofocus="" ng-model="user.email" >
        </div>
        <div class="form-group">
        	<label for="inputPassword" class="sr-only">Password</label>
        	<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="true" ng-model="user.password">
        </div>
        <div class="form-group">
        	<button class="btn btn-lg btn-primary" type="submit" ng-click="login()">Sign in</button>
        </div>
      </form>