<h4>Bookings <button class="btn btn-primary" ng-if="bookingForm.changed">Unsaved</button></h4>
<div class="booking-table">
<table class="table table-stripe">
	<tr>
		<th>Project</th>
		<th>Tags</th>
		<th>From</th>
		<th>To</th>
		<th>Amount</th>
		<th>Comment</th>
		<th></th>
	</tr>	
	<tr>
		<!-- Total row -->
		<th colspan="4">Total</th9>
		<th>{{bookings | sumFilter:dayDiff| number : 1}}</th>
		<td></td>
	</tr>
    <tr ng-repeat="booking in bookings" ng-class="isActive(booking)?'info':''">
        <td ng-click="saveEditingBooking()" >{{booking.projectId}}@{{booking.categoryId}}</td>
        <td ng-click="saveEditingBooking()" >
            <span ng-repeat="tag in booking.tags" >
		        <span style="margin-right: 3px;" class="ui-select-match-item btn btn-default btn-xs" type="button">        
		            <span>{{tag}}</span>        
		        </span>
            </span>
        </td>
        <td>
          <uib-timepicker ng-show="booking === editedBooking && bookingForm.start" ng-model="bookingForm.start" ng-change="changeEditBooking()" hour-step="1" minute-step="5" show-meridian="false"></uib-timepicker>
          <span ng-dblclick="editBookingStart(booking)" ng-hide="booking === editedBooking && bookingForm.start">{{booking.start | date: dateFormat(booking)}}</span>
        </td>
        <td>
          <uib-timepicker ng-show="booking === editedBooking && bookingForm.end" ng-model="bookingForm.end" ng-change="changeEditBooking()" hour-step="1" minute-step="5" show-meridian="false"></uib-timepicker>
          <span ng-dblclick="editBookingEnd(booking)" ng-hide="booking === editedBooking && bookingForm.end">{{booking.end | date: dateFormat(booking)}}</span>
        </td>
        <td ng-click="saveEditingBooking()" >{{dayDiff(booking)| number : 1}} <span ng-if="!sameDay(booking)">({{totalDiff(booking)| number : 1}})</span></td>
        <td ng-click="saveEditingBooking()" >{{booking.comment}}</td>
        <td ng-click="saveEditingBooking()" >
          <button type="button" class="btn btn-xs" ng-hide="isActive(booking)" ng-click="startStop(booking)"><span class="glyphicon glyphicon-play-circle"></span></button>
          <button type="button" class="btn btn-xs btn-danger" ng-click="removeTimeBooking(booking.id)" las-stop-event><span class="glyphicon glyphicon-remove"></span></button>
        </td>        
    </tr>
</table>
	<button type="button" class="btn btn-primary" ng-click="showAddBooking()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
</div>
