<div class="booking-table">
<table class="table table-stripe">
	<tr>
		<th>Project</th>
		<th>Tags</th>
		<th>From</th>
		<th>To</th>
		<th>Amount</th>
		<th></th>
	</tr>	
	<tr>
		<!-- Total row -->
		<th colspan="4">Total</th9>
		<th>{{bookings | sumFilter:dayDiff| number : 1}}</th>
		<td></td>
	</tr>
    <tr ng-repeat="booking in bookings" ng-class="isActive(booking)?'info':''">
        <td>{{booking.projectId}}@{{booking.categoryId}}</td>
        <td>
            <span ng-repeat="tag in booking.tags" >
		        <span style="margin-right: 3px;" class="ui-select-match-item btn btn-default btn-xs" type="button">        
		            <span>{{tag}}</span>        
		        </span>
            </span>
        </td>
        <td ng-if="booking === editedBooking" colspan="2">
          <form name="formEdit" class="form-inline" role="form" novalidate ng-submit="formEdit.$valid && doneEditing(booking)" ng-show="booking == editedBooking">
            <input type="datetime-local" required ng-model="booking.start" placeholder="dd.MM.yyyyTHH:mm:ss" auto-focus>
            <input type="datetime-local" required ng-model="booking.end" placeholder="dd.MM.yyyyTHH:mm:ss">
            <button type="button" class="btn btn-small" ng-click="doneEditingBooking(booking)">Submit</button>
          </form>
        </td>
        <td ng-if="booking !== editedBooking">{{booking.start | date: dateFormat(booking)}}</td>
        <td ng-if="booking !== editedBooking">{{booking.end | date: dateFormat(booking)}}</td>
        <td>{{dayDiff(booking)| number : 1}} <span ng-if="!sameDay(booking)">({{totalDiff(booking)| number : 1}})</span></td>
        <td>
          <button type="button" class="btn btn-xs" ng-hide="isActive(booking)" ng-click="startStop(booking)"><span class="glyphicon glyphicon-play-circle"></span></button>
          <button type="button" class="btn btn-xs" ng-click="editBooking(booking)" las-edit-event><span class="glyphicon glyphicon-edit"></span></button>
          <button type="button" class="btn btn-xs btn-danger" ng-click="removeTimeBooking(booking.id)" las-stop-event><span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
</table>
</div>
