<div class="favoritestable">
<table class="table">
	<tr>
		<th>Project</th>
		<th>Tags</th>	
		<th></th>	
	</tr>
    <tr ng-repeat="favorite in favorites.favorites" ng-class="isActive(favorite)?'active':''" ng-click="startStop(favorite)">
        <td>{{favorite.projectId}}@{{favorite.categoryId}}</td>
        <td>
            <span ng-repeat="tag in favorite.tags" >
		        <span style="margin-right: 3px;" class="ui-select-match-item btn btn-default btn-xs" type="button">        
		            <span>{{tag}}</span>        
		        </span>
            </span>
        </td>
        <td class="glyphicon glyphicon-remove" ng-click="removeFavorite(favorite.categoryId, favorite.projectId, favorite.tags)"></td>
    </tr>
</table>
</div>