<div class="booking-tag-stats">
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="dayMinus()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    
    <span class="title">{{date | amDateFormat:'Do MMM YYYY'}}</span>
     
    <button type="button" class="btn btn-default" ng-click="dayPlus()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</div>

<div class="chart">
	<nvd3-pie-chart data="statistics" x="xFunction()" y="yFunction()" 
	   showLegend="true" noData="No Statistics found!" tooltips="true" 
	   width="300" height="300"
            margin="{left:0,top:0,bottom:0,right:0}" labelType="percent">
    	<svg></svg>
    </nvd3-pie-chart>
</div>

</div>